In [1]:
import requests

In [8]:
import pandas as pd

In [4]:
otp_payload = {
    'bld': 'MKD/01/0110/01100305/mkd01100305_01',
    'name': 'form'
}
header = {
            'Referer': 'http://marketdata.krx.co.kr/mdi',
            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko Chrome/79.0.3945.130 Safari/537.36',
            'X-Requested-With': 'XMLHttpRequest'
}
otp_url = 'http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx'

otp = requests.post('http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx', data=otp_payload,
                         headers=header).text


payload = {
    'search_bas_yy': 2020,
    'gridTp': 'KRX',
    'pagePath': '/contents/MKD/01/0110/01100305/MKD01100305.jsp',
    'code': otp
}

In [5]:
req = requests.post('http://marketdata.krx.co.kr/contents/MKD/99/MKD99000001.jspx', data=payload, headers=header).json()

In [15]:
base = []
for year in range(2009, 2021):
    payload['search_bas_yy'] = year
    req = requests.post('http://marketdata.krx.co.kr/contents/MKD/99/MKD99000001.jspx', data=payload, headers=header).json()['block1']
    base += req

In [17]:
holiday = pd.DataFrame(base)

In [18]:
holiday['calnd_dd'] = pd.to_datetime(holiday['calnd_dd'])
holiday1 = holiday[['calnd_dd', 'holdy_nm', 'kr_dy_tp']].copy()

In [19]:
holiday1

      calnd_dd holdy_nm kr_dy_tp
0   2009-01-01            목요일
1   2009-01-26            월요일
2   2009-01-27            화요일
3   2009-05-01            금요일
4   2009-05-05            화요일
..         ...      ...      ...
158 2020-10-01       추석   목요일
159 2020-10-02       추석   금요일
160 2020-10-09      한글날   금요일
161 2020-12-25      성탄절   금요일
162 2020-12-31    연말휴장일   목요일

[163 rows x 3 columns]

In [21]:
holiday1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 3 columns):
calnd_dd    163 non-null datetime64[ns]
holdy_nm    163 non-null object
kr_dy_tp    163 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 3.9+ KB

In [23]:
holiday1.set_index('calnd_dd',inplace=True)

In [24]:
holiday1

           holdy_nm kr_dy_tp
calnd_dd
2009-01-01            목요일
2009-01-26            월요일
2009-01-27            화요일
2009-05-01            금요일
2009-05-05            화요일
...             ...      ...
2020-10-01       추석   목요일
2020-10-02       추석   금요일
2020-10-09      한글날   금요일
2020-12-25      성탄절   금요일
2020-12-31    연말휴장일   목요일

[163 rows x 2 columns]

In [25]:
holiday1.to_pickle('../Database/krxholidays.pickle')

In [1]:
import pandas as pd

In [2]:
holiday = pd.read_pickle('../Database/krxholidays.pickle')

In [15]:
bizday = pd.bdate_range(start='20090101', end='20201231')

In [16]:
krxbiz = list(set(bizday) - set(holiday.index))

In [17]:
krxbiz.sort()

In [18]:
krxbiz

[Timestamp('2009-01-02 00:00:00', freq='B'),
 Timestamp('2009-01-05 00:00:00', freq='B'),
 Timestamp('2009-01-06 00:00:00', freq='B'),
 Timestamp('2009-01-07 00:00:00', freq='B'),
 Timestamp('2009-01-08 00:00:00', freq='B'),
 Timestamp('2009-01-09 00:00:00', freq='B'),
 Timestamp('2009-01-12 00:00:00', freq='B'),
 Timestamp('2009-01-13 00:00:00', freq='B'),
 Timestamp('2009-01-14 00:00:00', freq='B'),
 Timestamp('2009-01-15 00:00:00', freq='B'),
 Timestamp('2009-01-16 00:00:00', freq='B'),
 Timestamp('2009-01-19 00:00:00', freq='B'),
 Timestamp('2009-01-20 00:00:00', freq='B'),
 Timestamp('2009-01-21 00:00:00', freq='B'),
 Timestamp('2009-01-22 00:00:00', freq='B'),
 Timestamp('2009-01-23 00:00:00', freq='B'),
 Timestamp('2009-01-28 00:00:00', freq='B'),
 Timestamp('2009-01-29 00:00:00', freq='B'),
 Timestamp('2009-01-30 00:00:00', freq='B'),
 Timestamp('2009-02-02 00:00:00', freq='B'),
 Timestamp('2009-02-03 00:00:00', freq='B'),
 Timestamp('2009-02-04 00:00:00', freq='B'),
 Timestamp('2009-02-05 00:00:00', freq='B'),
 Timestamp('2009-02-06 00:00:00', freq='B'),
 Timestamp('2009-02-09 00:00:00', freq='B'),
 Timestamp('2009-02-10 00:00:00', freq='B'),
 Timestamp('2009-02-11 00:00:00', freq='B'),
 Timestamp('2009-02-12 00:00:00', freq='B'),
 Timestamp('2009-02-13 00:00:00', freq='B'),
 Timestamp('2009-02-16 00:00:00', freq='B'),
 Timestamp('2009-02-17 00:00:00', freq='B'),
 Timestamp('2009-02-18 00:00:00', freq='B'),
 Timestamp('2009-02-19 00:00:00', freq='B'),
 Timestamp('2009-02-20 00:00:00', freq='B'),
 Timestamp('2009-02-23 00:00:00', freq='B'),
 Timestamp('2009-02-24 00:00:00', freq='B'),
 Timestamp('2009-02-25 00:00:00', freq='B'),
 Timestamp('2009-02-26 00:00:00', freq='B'),
 Timestamp('2009-02-27 00:00:00', freq='B'),
 Timestamp('2009-03-02 00:00:00', freq='B'),
 Timestamp('2009-03-03 00:00:00', freq='B'),
 Timestamp('2009-03-04 00:00:00', freq='B'),
 Timestamp('2009-03-05 00:00:00', freq='B'),
 Timestamp('2009-03-06 00:00:00', freq='B'),
 Timestamp('2009-03-09 00:00:00', freq='B'),
 Timestamp('2009-03-10 00:00:00', freq='B'),
 Timestamp('2009-03-11 00:00:00', freq='B'),
 Timestamp('2009-03-12 00:00:00', freq='B'),
 Timestamp('2009-03-13 00:00:00', freq='B'),
 Timestamp('2009-03-16 00:00:00', freq='B'),
 Timestamp('2009-03-17 00:00:00', freq='B'),
 Timestamp('2009-03-18 00:00:00', freq='B'),
 Timestamp('2009-03-19 00:00:00', freq='B'),
 Timestamp('2009-03-20 00:00:00', freq='B'),
 Timestamp('2009-03-23 00:00:00', freq='B'),
 Timestamp('2009-03-24 00:00:00', freq='B'),
 Timestamp('2009-03-25 00:00:00', freq='B'),
 Timestamp('2009-03-26 00:00:00', freq='B'),
 Timestamp('2009-03-27 00:00:00', freq='B'),
 Timestamp('2009-03-30 00:00:00', freq='B'),
 Timestamp('2009-03-31 00:00:00', freq='B'),
 Timestamp('2009-04-01 00:00:00', freq='B'),
 Timestamp('2009-04-02 00:00:00', freq='B'),
 Timestamp('2009-04-03 00:00:00', freq='B'),
 Timestamp('2009-04-06 00:00:00', freq='B'),
 Timestamp('2009-04-07 00:00:00', freq='B'),
 Timestamp('2009-04-08 00:00:00', freq='B'),
 Timestamp('2009-04-09 00:00:00', freq='B'),
 Timestamp('2009-04-10 00:00:00', freq='B'),
 Timestamp('2009-04-13 00:00:00', freq='B'),
 Timestamp('2009-04-14 00:00:00', freq='B'),
 Timestamp('2009-04-15 00:00:00', freq='B'),
 Timestamp('2009-04-16 00:00:00', freq='B'),
 Timestamp('2009-04-17 00:00:00', freq='B'),
 Timestamp('2009-04-20 00:00:00', freq='B'),
 Timestamp('2009-04-21 00:00:00', freq='B'),
 Timestamp('2009-04-22 00:00:00', freq='B'),
 Timestamp('2009-04-23 00:00:00', freq='B'),
 Timestamp('2009-04-24 00:00:00', freq='B'),
 Timestamp('2009-04-27 00:00:00', freq='B'),
 Timestamp('2009-04-28 00:00:00', freq='B'),
 Timestamp('2009-04-29 00:00:00', freq='B'),
 Timestamp('2009-04-30 00:00:00', freq='B'),
 Timestamp('2009-05-04 00:00:00', freq='B'),
 Timestamp('2009-05-06 00:00:00', freq='B'),
 Timestamp('2009-05-07 00:00:00', freq='B'),
 Timestamp('2009-05-08 00:00:00', freq='B'),
 Timestamp('2009-05-11 00:00:00', freq='B'),
 Timestamp('2009-05-12 00:00:00', freq='B'),
 Timestamp('2009-05-13 00:00:00', freq='B'),
 Timestamp('2009-05-14 00:00:00', freq='B'),
 Timestamp('2009-05-15 00:00:00', freq='B'),
 Timestamp('2009-05-18 00:00:00', freq='B'),
 Timestamp('2009-05-19 00:00:00', freq='B'),
 Timestamp('2009-05-20 00:00:00', freq='B'),
 Timestamp('2009-05-21 00:00:00', freq='B'),
 Timestamp('2009-05-22 00:00:00', freq='B'),
 Timestamp('2009-05-25 00:00:00', freq='B'),
 Timestamp('2009-05-26 00:00:00', freq='B'),
 Timestamp('2009-05-27 00:00:00', freq='B'),
 Timestamp('2009-05-28 00:00:00', freq='B'),
 Timestamp('2009-05-29 00:00:00', freq='B'),
 Timestamp('2009-06-01 00:00:00', freq='B'),
 Timestamp('2009-06-02 00:00:00', freq='B'),
 Timestamp('2009-06-03 00:00:00', freq='B'),
 Timestamp('2009-06-04 00:00:00', freq='B'),
 Timestamp('2009-06-05 00:00:00', freq='B'),
 Timestamp('2009-06-08 00:00:00', freq='B'),
 Timestamp('2009-06-09 00:00:00', freq='B'),
 Timestamp('2009-06-10 00:00:00', freq='B'),
 Timestamp('2009-06-11 00:00:00', freq='B'),
 Timestamp('2009-06-12 00:00:00', freq='B'),
 Timestamp('2009-06-15 00:00:00', freq='B'),
 Timestamp('2009-06-16 00:00:00', freq='B'),
 Timestamp('2009-06-17 00:00:00', freq='B'),
 Timestamp('2009-06-18 00:00:00', freq='B'),
 Timestamp('2009-06-19 00:00:00', freq='B'),
 Timestamp('2009-06-22 00:00:00', freq='B'),
 Timestamp('2009-06-23 00:00:00', freq='B'),
 Timestamp('2009-06-24 00:00:00', freq='B'),
 Timestamp('2009-06-25 00:00:00', freq='B'),
 Timestamp('2009-06-26 00:00:00', freq='B'),
 Timestamp('2009-06-29 00:00:00', freq='B'),
 Timestamp('2009-06-30 00:00:00', freq='B'),
 Timestamp('2009-07-01 00:00:00', freq='B'),
 Timestamp('2009-07-02 00:00:00', freq='B'),
 Timestamp('2009-07-03 00:00:00', freq='B'),
 Timestamp('2009-07-06 00:00:00', freq='B'),
 Timestamp('2009-07-07 00:00:00', freq='B'),
 Timestamp('2009-07-08 00:00:00', freq='B'),
 Timestamp('2009-07-09 00:00:00', freq='B'),
 Timestamp('2009-07-10 00:00:00', freq='B'),
 Timestamp('2009-07-13 00:00:00', freq='B'),
 Timestamp('2009-07-14 00:00:00', freq='B'),
 Timestamp('2009-07-15 00:00:00', freq='B'),
 Timestamp('2009-07-16 00:00:00', freq='B'),
 Timestamp('2009-07-17 00:00:00', freq='B'),
 Timestamp('2009-07-20 00:00:00', freq='B'),
 Timestamp('2009-07-21 00:00:00', freq='B'),
 Timestamp('2009-07-22 00:00:00', freq='B'),
 Timestamp('2009-07-23 00:00:00', freq='B'),
 Timestamp('2009-07-24 00:00:00', freq='B'),
 Timestamp('2009-07-27 00:00:00', freq='B'),
 Timestamp('2009-07-28 00:00:00', freq='B'),
 Timestamp('2009-07-29 00:00:00', freq='B'),
 Timestamp('2009-07-30 00:00:00', freq='B'),
 Timestamp('2009-07-31 00:00:00', freq='B'),
 Timestamp('2009-08-03 00:00:00', freq='B'),
 Timestamp('2009-08-04 00:00:00', freq='B'),
 Timestamp('2009-08-05 00:00:00', freq='B'),
 Timestamp('2009-08-06 00:00:00', freq='B'),
 Timestamp('2009-08-07 00:00:00', freq='B'),
 Timestamp('2009-08-10 00:00:00', freq='B'),
 Timestamp('2009-08-11 00:00:00', freq='B'),
 Timestamp('2009-08-12 00:00:00', freq='B'),
 Timestamp('2009-08-13 00:00:00', freq='B'),
 Timestamp('2009-08-14 00:00:00', freq='B'),
 Timestamp('2009-08-17 00:00:00', freq='B'),
 Timestamp('2009-08-18 00:00:00', freq='B'),
 Timestamp('2009-08-19 00:00:00', freq='B'),
 Timestamp('2009-08-20 00:00:00', freq='B'),
 Timestamp('2009-08-21 00:00:00', freq='B'),
 Timestamp('2009-08-24 00:00:00', freq='B'),
 Timestamp('2009-08-25 00:00:00', freq='B'),
 Timestamp('2009-08-26 00:00:00', freq='B'),
 Timestamp('2009-08-27 00:00:00', freq='B'),
 Timestamp('2009-08-28 00:00:00', freq='B'),
 Timestamp('2009-08-31 00:00:00', freq='B'),
 Timestamp('2009-09-01 00:00:00', freq='B'),
 Timestamp('2009-09-02 00:00:00', freq='B'),
 Timestamp('2009-09-03 00:00:00', freq='B'),
 Timestamp('2009-09-04 00:00:00', freq='B'),
 Timestamp('2009-09-07 00:00:00', freq='B'),
 Timestamp('2009-09-08 00:00:00', freq='B'),
 Timestamp('2009-09-09 00:00:00', freq='B'),
 Timestamp('2009-09-10 00:00:00', freq='B'),
 Timestamp('2009-09-11 00:00:00', freq='B'),
 Timestamp('2009-09-14 00:00:00', freq='B'),
 Timestamp('2009-09-15 00:00:00', freq='B'),
 Timestamp('2009-09-16 00:00:00', freq='B'),
 Timestamp('2009-09-17 00:00:00', freq='B'),
 Timestamp('2009-09-18 00:00:00', freq='B'),
 Timestamp('2009-09-21 00:00:00', freq='B'),
 Timestamp('2009-09-22 00:00:00', freq='B'),
 Timestamp('2009-09-23 00:00:00', freq='B'),
 Timestamp('2009-09-24 00:00:00', freq='B'),
 Timestamp('2009-09-25 00:00:00', freq='B'),
 Timestamp('2009-09-28 00:00:00', freq='B'),
 Timestamp('2009-09-29 00:00:00', freq='B'),
 Timestamp('2009-09-30 00:00:00', freq='B'),
 Timestamp('2009-10-01 00:00:00', freq='B'),
 Timestamp('2009-10-05 00:00:00', freq='B'),
 Timestamp('2009-10-06 00:00:00', freq='B'),
 Timestamp('2009-10-07 00:00:00', freq='B'),
 Timestamp('2009-10-08 00:00:00', freq='B'),
 Timestamp('2009-10-09 00:00:00', freq='B'),
 Timestamp('2009-10-12 00:00:00', freq='B'),
 Timestamp('2009-10-13 00:00:00', freq='B'),
 Timestamp('2009-10-14 00:00:00', freq='B'),
 Timestamp('2009-10-15 00:00:00', freq='B'),
 Timestamp('2009-10-16 00:00:00', freq='B'),
 Timestamp('2009-10-19 00:00:00', freq='B'),
 Timestamp('2009-10-20 00:00:00', freq='B'),
 Timestamp('2009-10-21 00:00:00', freq='B'),
 Timestamp('2009-10-22 00:00:00', freq='B'),
 Timestamp('2009-10-23 00:00:00', freq='B'),
 Timestamp('2009-10-26 00:00:00', freq='B'),
 Timestamp('2009-10-27 00:00:00', freq='B'),
 Timestamp('2009-10-28 00:00:00', freq='B'),
 Timestamp('2009-10-29 00:00:00', freq='B'),
 Timestamp('2009-10-30 00:00:00', freq='B'),
 Timestamp('2009-11-02 00:00:00', freq='B'),
 Timestamp('2009-11-03 00:00:00', freq='B'),
 Timestamp('2009-11-04 00:00:00', freq='B'),
 Timestamp('2009-11-05 00:00:00', freq='B'),
 Timestamp('2009-11-06 00:00:00', freq='B'),
 Timestamp('2009-11-09 00:00:00', freq='B'),
 Timestamp('2009-11-10 00:00:00', freq='B'),
 Timestamp('2009-11-11 00:00:00', freq='B'),
 Timestamp('2009-11-12 00:00:00', freq='B'),
 Timestamp('2009-11-13 00:00:00', freq='B'),
 Timestamp('2009-11-16 00:00:00', freq='B'),
 Timestamp('2009-11-17 00:00:00', freq='B'),
 Timestamp('2009-11-18 00:00:00', freq='B'),
 Timestamp('2009-11-19 00:00:00', freq='B'),
 Timestamp('2009-11-20 00:00:00', freq='B'),
 Timestamp('2009-11-23 00:00:00', freq='B'),
 Timestamp('2009-11-24 00:00:00', freq='B'),
 Timestamp('2009-11-25 00:00:00', freq='B'),
 Timestamp('2009-11-26 00:00:00', freq='B'),
 Timestamp('2009-11-27 00:00:00', freq='B'),
 Timestamp('2009-11-30 00:00:00', freq='B'),
 Timestamp('2009-12-01 00:00:00', freq='B'),
 Timestamp('2009-12-02 00:00:00', freq='B'),
 Timestamp('2009-12-03 00:00:00', freq='B'),
 Timestamp('2009-12-04 00:00:00', freq='B'),
 Timestamp('2009-12-07 00:00:00', freq='B'),
 Timestamp('2009-12-08 00:00:00', freq='B'),
 Timestamp('2009-12-09 00:00:00', freq='B'),
 Timestamp('2009-12-10 00:00:00', freq='B'),
 Timestamp('2009-12-11 00:00:00', freq='B'),
 Timestamp('2009-12-14 00:00:00', freq='B'),
 Timestamp('2009-12-15 00:00:00', freq='B'),
 Timestamp('2009-12-16 00:00:00', freq='B'),
 Timestamp('2009-12-17 00:00:00', freq='B'),
 Timestamp('2009-12-18 00:00:00', freq='B'),
 Timestamp('2009-12-21 00:00:00', freq='B'),
 Timestamp('2009-12-22 00:00:00', freq='B'),
 Timestamp('2009-12-23 00:00:00', freq='B'),
 Timestamp('2009-12-24 00:00:00', freq='B'),
 Timestamp('2009-12-28 00:00:00', freq='B'),
 Timestamp('2009-12-29 00:00:00', freq='B'),
 Timestamp('2009-12-30 00:00:00', freq='B'),
 Timestamp('2010-01-04 00:00:00', freq='B'),
 Timestamp('2010-01-05 00:00:00', freq='B'),
 Timestamp('2010-01-06 00:00:00', freq='B'),
 Timestamp('2010-01-07 00:00:00', freq='B'),
 Timestamp('2010-01-08 00:00:00', freq='B'),
 Timestamp('2010-01-11 00:00:00', freq='B'),
 Timestamp('2010-01-12 00:00:00', freq='B'),
 Timestamp('2010-01-13 00:00:00', freq='B'),
 Timestamp('2010-01-14 00:00:00', freq='B'),
 Timestamp('2010-01-15 00:00:00', freq='B'),
 Timestamp('2010-01-18 00:00:00', freq='B'),
 Timestamp('2010-01-19 00:00:00', freq='B'),
 Timestamp('2010-01-20 00:00:00', freq='B'),
 Timestamp('2010-01-21 00:00:00', freq='B'),
 Timestamp('2010-01-22 00:00:00', freq='B'),
 Timestamp('2010-01-25 00:00:00', freq='B'),
 Timestamp('2010-01-26 00:00:00', freq='B'),
 Timestamp('2010-01-27 00:00:00', freq='B'),
 Timestamp('2010-01-28 00:00:00', freq='B'),
 Timestamp('2010-01-29 00:00:00', freq='B'),
 Timestamp('2010-02-01 00:00:00', freq='B'),
 Timestamp('2010-02-02 00:00:00', freq='B'),
 Timestamp('2010-02-03 00:00:00', freq='B'),
 Timestamp('2010-02-04 00:00:00', freq='B'),
 Timestamp('2010-02-05 00:00:00', freq='B'),
 Timestamp('2010-02-08 00:00:00', freq='B'),
 Timestamp('2010-02-09 00:00:00', freq='B'),
 Timestamp('2010-02-10 00:00:00', freq='B'),
 Timestamp('2010-02-11 00:00:00', freq='B'),
 Timestamp('2010-02-12 00:00:00', freq='B'),
 Timestamp('2010-02-16 00:00:00', freq='B'),
 Timestamp('2010-02-17 00:00:00', freq='B'),
 Timestamp('2010-02-18 00:00:00', freq='B'),
 Timestamp('2010-02-19 00:00:00', freq='B'),
 Timestamp('2010-02-22 00:00:00', freq='B'),
 Timestamp('2010-02-23 00:00:00', freq='B'),
 Timestamp('2010-02-24 00:00:00', freq='B'),
 Timestamp('2010-02-25 00:00:00', freq='B'),
 Timestamp('2010-02-26 00:00:00', freq='B'),
 Timestamp('2010-03-02 00:00:00', freq='B'),
 Timestamp('2010-03-03 00:00:00', freq='B'),
 Timestamp('2010-03-04 00:00:00', freq='B'),
 Timestamp('2010-03-05 00:00:00', freq='B'),
 Timestamp('2010-03-08 00:00:00', freq='B'),
 Timestamp('2010-03-09 00:00:00', freq='B'),
 Timestamp('2010-03-10 00:00:00', freq='B'),
 Timestamp('2010-03-11 00:00:00', freq='B'),
 Timestamp('2010-03-12 00:00:00', freq='B'),
 Timestamp('2010-03-15 00:00:00', freq='B'),
 Timestamp('2010-03-16 00:00:00', freq='B'),
 Timestamp('2010-03-17 00:00:00', freq='B'),
 Timestamp('2010-03-18 00:00:00', freq='B'),
 Timestamp('2010-03-19 00:00:00', freq='B'),
 Timestamp('2010-03-22 00:00:00', freq='B'),
 Timestamp('2010-03-23 00:00:00', freq='B'),
 Timestamp('2010-03-24 00:00:00', freq='B'),
 Timestamp('2010-03-25 00:00:00', freq='B'),
 Timestamp('2010-03-26 00:00:00', freq='B'),
 Timestamp('2010-03-29 00:00:00', freq='B'),
 Timestamp('2010-03-30 00:00:00', freq='B'),
 Timestamp('2010-03-31 00:00:00', freq='B'),
 Timestamp('2010-04-01 00:00:00', freq='B'),
 Timestamp('2010-04-02 00:00:00', freq='B'),
 Timestamp('2010-04-05 00:00:00', freq='B'),
 Timestamp('2010-04-06 00:00:00', freq='B'),
 Timestamp('2010-04-07 00:00:00', freq='B'),
 Timestamp('2010-04-08 00:00:00', freq='B'),
 Timestamp('2010-04-09 00:00:00', freq='B'),
 Timestamp('2010-04-12 00:00:00', freq='B'),
 Timestamp('2010-04-13 00:00:00', freq='B'),
 Timestamp('2010-04-14 00:00:00', freq='B'),
 Timestamp('2010-04-15 00:00:00', freq='B'),
 Timestamp('2010-04-16 00:00:00', freq='B'),
 Timestamp('2010-04-19 00:00:00', freq='B'),
 Timestamp('2010-04-20 00:00:00', freq='B'),
 Timestamp('2010-04-21 00:00:00', freq='B'),
 Timestamp('2010-04-22 00:00:00', freq='B'),
 Timestamp('2010-04-23 00:00:00', freq='B'),
 Timestamp('2010-04-26 00:00:00', freq='B'),
 Timestamp('2010-04-27 00:00:00', freq='B'),
 Timestamp('2010-04-28 00:00:00', freq='B'),
 Timestamp('2010-04-29 00:00:00', freq='B'),
 Timestamp('2010-04-30 00:00:00', freq='B'),
 Timestamp('2010-05-03 00:00:00', freq='B'),
 Timestamp('2010-05-04 00:00:00', freq='B'),
 Timestamp('2010-05-06 00:00:00', freq='B'),
 Timestamp('2010-05-07 00:00:00', freq='B'),
 Timestamp('2010-05-10 00:00:00', freq='B'),
 Timestamp('2010-05-11 00:00:00', freq='B'),
 Timestamp('2010-05-12 00:00:00', freq='B'),
 Timestamp('2010-05-13 00:00:00', freq='B'),
 Timestamp('2010-05-14 00:00:00', freq='B'),
 Timestamp('2010-05-17 00:00:00', freq='B'),
 Timestamp('2010-05-18 00:00:00', freq='B'),
 Timestamp('2010-05-19 00:00:00', freq='B'),
 Timestamp('2010-05-20 00:00:00', freq='B'),
 Timestamp('2010-05-24 00:00:00', freq='B'),
 Timestamp('2010-05-25 00:00:00', freq='B'),
 Timestamp('2010-05-26 00:00:00', freq='B'),
 Timestamp('2010-05-27 00:00:00', freq='B'),
 Timestamp('2010-05-28 00:00:00', freq='B'),
 Timestamp('2010-05-31 00:00:00', freq='B'),
 Timestamp('2010-06-01 00:00:00', freq='B'),
 Timestamp('2010-06-03 00:00:00', freq='B'),
 Timestamp('2010-06-04 00:00:00', freq='B'),
 Timestamp('2010-06-07 00:00:00', freq='B'),
 Timestamp('2010-06-08 00:00:00', freq='B'),
 Timestamp('2010-06-09 00:00:00', freq='B'),
 Timestamp('2010-06-10 00:00:00', freq='B'),
 Timestamp('2010-06-11 00:00:00', freq='B'),
 Timestamp('2010-06-14 00:00:00', freq='B'),
 Timestamp('2010-06-15 00:00:00', freq='B'),
 Timestamp('2010-06-16 00:00:00', freq='B'),
 Timestamp('2010-06-17 00:00:00', freq='B'),
 Timestamp('2010-06-18 00:00:00', freq='B'),
 Timestamp('2010-06-21 00:00:00', freq='B'),
 Timestamp('2010-06-22 00:00:00', freq='B'),
 Timestamp('2010-06-23 00:00:00', freq='B'),
 Timestamp('2010-06-24 00:00:00', freq='B'),
 Timestamp('2010-06-25 00:00:00', freq='B'),
 Timestamp('2010-06-28 00:00:00', freq='B'),
 Timestamp('2010-06-29 00:00:00', freq='B'),
 Timestamp('2010-06-30 00:00:00', freq='B'),
 Timestamp('2010-07-01 00:00:00', freq='B'),
 Timestamp('2010-07-02 00:00:00', freq='B'),
 Timestamp('2010-07-05 00:00:00', freq='B'),
 Timestamp('2010-07-06 00:00:00', freq='B'),
 Timestamp('2010-07-07 00:00:00', freq='B'),
 Timestamp('2010-07-08 00:00:00', freq='B'),
 Timestamp('2010-07-09 00:00:00', freq='B'),
 Timestamp('2010-07-12 00:00:00', freq='B'),
 Timestamp('2010-07-13 00:00:00', freq='B'),
 Timestamp('2010-07-14 00:00:00', freq='B'),
 Timestamp('2010-07-15 00:00:00', freq='B'),
 Timestamp('2010-07-16 00:00:00', freq='B'),
 Timestamp('2010-07-19 00:00:00', freq='B'),
 Timestamp('2010-07-20 00:00:00', freq='B'),
 Timestamp('2010-07-21 00:00:00', freq='B'),
 Timestamp('2010-07-22 00:00:00', freq='B'),
 Timestamp('2010-07-23 00:00:00', freq='B'),
 Timestamp('2010-07-26 00:00:00', freq='B'),
 Timestamp('2010-07-27 00:00:00', freq='B'),
 Timestamp('2010-07-28 00:00:00', freq='B'),
 Timestamp('2010-07-29 00:00:00', freq='B'),
 Timestamp('2010-07-30 00:00:00', freq='B'),
 Timestamp('2010-08-02 00:00:00', freq='B'),
 Timestamp('2010-08-03 00:00:00', freq='B'),
 Timestamp('2010-08-04 00:00:00', freq='B'),
 Timestamp('2010-08-05 00:00:00', freq='B'),
 Timestamp('2010-08-06 00:00:00', freq='B'),
 Timestamp('2010-08-09 00:00:00', freq='B'),
 Timestamp('2010-08-10 00:00:00', freq='B'),
 Timestamp('2010-08-11 00:00:00', freq='B'),
 Timestamp('2010-08-12 00:00:00', freq='B'),
 Timestamp('2010-08-13 00:00:00', freq='B'),
 Timestamp('2010-08-16 00:00:00', freq='B'),
 Timestamp('2010-08-17 00:00:00', freq='B'),
 Timestamp('2010-08-18 00:00:00', freq='B'),
 Timestamp('2010-08-19 00:00:00', freq='B'),
 Timestamp('2010-08-20 00:00:00', freq='B'),
 Timestamp('2010-08-23 00:00:00', freq='B'),
 Timestamp('2010-08-24 00:00:00', freq='B'),
 Timestamp('2010-08-25 00:00:00', freq='B'),
 Timestamp('2010-08-26 00:00:00', freq='B'),
 Timestamp('2010-08-27 00:00:00', freq='B'),
 Timestamp('2010-08-30 00:00:00', freq='B'),
 Timestamp('2010-08-31 00:00:00', freq='B'),
 Timestamp('2010-09-01 00:00:00', freq='B'),
 Timestamp('2010-09-02 00:00:00', freq='B'),
 Timestamp('2010-09-03 00:00:00', freq='B'),
 Timestamp('2010-09-06 00:00:00', freq='B'),
 Timestamp('2010-09-07 00:00:00', freq='B'),
 Timestamp('2010-09-08 00:00:00', freq='B'),
 Timestamp('2010-09-09 00:00:00', freq='B'),
 Timestamp('2010-09-10 00:00:00', freq='B'),
 Timestamp('2010-09-13 00:00:00', freq='B'),
 Timestamp('2010-09-14 00:00:00', freq='B'),
 Timestamp('2010-09-15 00:00:00', freq='B'),
 Timestamp('2010-09-16 00:00:00', freq='B'),
 Timestamp('2010-09-17 00:00:00', freq='B'),
 Timestamp('2010-09-20 00:00:00', freq='B'),
 Timestamp('2010-09-24 00:00:00', freq='B'),
 Timestamp('2010-09-27 00:00:00', freq='B'),
 Timestamp('2010-09-28 00:00:00', freq='B'),
 Timestamp('2010-09-29 00:00:00', freq='B'),
 Timestamp('2010-09-30 00:00:00', freq='B'),
 Timestamp('2010-10-01 00:00:00', freq='B'),
 Timestamp('2010-10-04 00:00:00', freq='B'),
 Timestamp('2010-10-05 00:00:00', freq='B'),
 Timestamp('2010-10-06 00:00:00', freq='B'),
 Timestamp('2010-10-07 00:00:00', freq='B'),

In [20]:
krxbiz = pd.to_datetime(krxbiz)

In [22]:
x = pd.DataFrame(krxbiz, columns = ['krxbiz'])
x

         krxbiz
0    2009-01-02
1    2009-01-05
2    2009-01-06
3    2009-01-07
4    2009-01-08
...         ...
2963 2020-12-23
2964 2020-12-24
2965 2020-12-28
2966 2020-12-29
2967 2020-12-30

[2968 rows x 1 columns]

In [23]:
x.to_pickle('../Database/krxbiz.pickle')

In [31]:
pd.to_datetime('20100101') < x['krxbiz']

0       False
1       False
2       False
3       False
4       False
        ...
2963     True
2964     True
2965     True
2966     True
2967     True
Name: krxbiz, Length: 2968, dtype: bool

In [25]:
x1 = x.copy()
x1.index = x1['krxbiz']
x1

               krxbiz
krxbiz
2009-01-02 2009-01-02
2009-01-05 2009-01-05
2009-01-06 2009-01-06
2009-01-07 2009-01-07
2009-01-08 2009-01-08
...               ...
2020-12-23 2020-12-23
2020-12-24 2020-12-24
2020-12-28 2020-12-28
2020-12-29 2020-12-29
2020-12-30 2020-12-30

[2968 rows x 1 columns]

In [40]:
x2 = x1.rename(index = {'krxbiz':'date'})
x2

               krxbiz
krxbiz
2009-01-02 2009-01-02
2009-01-05 2009-01-05
2009-01-06 2009-01-06
2009-01-07 2009-01-07
2009-01-08 2009-01-08
...               ...
2020-12-23 2020-12-23
2020-12-24 2020-12-24
2020-12-28 2020-12-28
2020-12-29 2020-12-29
2020-12-30 2020-12-30

[2968 rows x 1 columns]

In [41]:
x1.index.name = 'date'

In [43]:
x1.to_pickle('../Database/krxbiz.pickle')

In [35]:
a = x1['krxbiz'].loc[pd.to_datetime('20200101'):pd.to_datetime('20200131')]

In [36]:
pd.DataFrame(index = a)

Empty DataFrame
Columns: []
Index: [2020-01-02 00:00:00, 2020-01-03 00:00:00, 2020-01-06 00:00:00, 2020-01-07 00:00:00, 2020-01-08 00:00:00, 2020-01-09 00:00:00, 2020-01-10 00:00:00, 2020-01-13 00:00:00, 2020-01-14 00:00:00, 2020-01-15 00:00:00, 2020-01-16 00:00:00, 2020-01-17 00:00:00, 2020-01-20 00:00:00, 2020-01-21 00:00:00, 2020-01-22 00:00:00, 2020-01-23 00:00:00, 2020-01-28 00:00:00, 2020-01-29 00:00:00, 2020-01-30 00:00:00, 2020-01-31 00:00:00]